.el-loading-spinner .el-icon-loading{
  font-size: 24px;
}

/* layout */

.el-container {
  height: 100%;
}

.header {
  background-color: #373d41;
  line-height: 70px;
}

.header .logo {
  float: left;
  width: 300px;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  text-decoration: none;
}

.header .logo img {
  float: left;
  width: auto;
  height: 100%;
  vertical-align: middle;
}

.header .logo small {
  float: left;
  margin-left: 10px;
  padding: 0 6px;
  color: #fff;
  font-size: 15px;
  background-color: #03ccdc;
  border-radius: 8px 8px 8px 0;
}

.user-info {
  float: right;
  color: #fff;
  line-height: 60px;
  margin-left: 20px;
}

.user-info .el-dropdown-link {
  cursor: pointer;
}

/* 左导航 */

.aside {
  background-color: #2a394c;
  width: auto !important;
  height: 100%;
}

.aside .el-menu {
  border: none;
  background-color: transparent;
}

.sub-menu:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

.el-menu--collapse {
  width: 50px;
}
.el-menu--collapse .el-icon-arrow-right,
.el-menu--collapse .outer-title{
  display: none;
}

.aside .el-menu-item.is-active,
.aside .el-menu-item.is-active:hover {
  background-color: rgba(0, 0, 0, .2);
}

.aside .el-menu-item {
  color: #999;
}

.aside .el-submenu__title:hover {
  background-color: #001524;
}

.aside .el-submenu__title i {
  margin-right: 5px;
}

.aside .el-menu-item>div {
  padding: 0 15px !important;
}

.aside .el-menu-item:focus,
.aside .el-menu-item:hover {
  background-color: rgba(0, 0, 0, .1);
}

.el-menu--vertical .menu.el-menu-item{
  background-color: #263243 !important;
}

.collapse-bar {
  cursor: pointer;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  background-color: #4a5063;
  outline: none;
  text-align: right;
}

.collapse-bar.retract i {
  transform: rotateZ(90deg);
  transition: all .2s;
}

.collapse-bar i {
  color: #fff;
  width: 15px;
  font-size: 16px;
  text-align: center;
  transition: all .2s;
}

.breadcrumb {
  height: auto !important;
  padding: 10px;
  background-color: #eee;
}

.el-main {
  background-color: #fafafa;
}

